@page "/AboutUs"
@layout MainLayout

<h1 class="text-center mb-4">About Us</h1>

<p>Welcome to Oman Security App! <br> We are committed to providing high-quality security services to individuals and businesses throughout the country. <br>Our team of experienced security professionals is dedicated to ensuring the safety and well-being of our clients.</p>

<br><p>Whether you need personal protection, event security, or surveillance services, we have the skills and expertise to meet your needs. Contact us today to learn more about our services.</p>


<style>
    body {
        background: linear-gradient(135deg, #4b6cb7, #182848);
    }

    h1 {
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    }

    p {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    }
    }
</style>